.cardItem {
    border-top: 4px solid var(--generalDark);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
    background-color: var(--generalLight);
    width: 370px;
    height: 404px;
    box-shadow: 0px 20px 100px 0px rgba(34, 34, 34, 0.15);
    text-align: center;
    padding: 0 .5rem;

    .tittle {
        color: var(--generalDark);
        display: flex;
        flex-direction: column;
        gap: 15px;

        h3,
        h4 {
            color: var(--generalDark);
            text-align: center;
            font-family: var(--fontFamilyPrimary);
        }

        h3 {
            font: 800 24px/38px var(--fontFamilyPrimary);
        }

        h4 {
            font: 700 60px var(--fontFamilyPrimary);
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

        p {
            color: var(--generalDark);
            font: 400 16px/24px var(--fontFamilySecondary);
        }
    }

    .button {
        button {
            cursor: pointer;
            background: transparent;
            padding: 18px 34px;
            align-items: center;
            gap: 12px;
            display: flex;
            border-radius: 5px;
            border: 1px solid var(--generalDark);
            color: var(--generalDark);
            font: 700 16px var(--fontFamilyPrimary);
            line-height: normal;
        }
    }

    @media (max-width: 1452px) {
        width: 300px;
    }
}