.cardItem {
    border-top: 4px solid var(--generalDark);
    border-radius: 20px;
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
    background-color: var(--generalLight);
    width: 370px;
    height: 404px;
    box-shadow: 0px 20px 100px 0px rgba(34, 34, 34, 0.15);
    text-align: center;
    padding:  0 .5rem;

    .tittle {
        color: var(--generalDark);
        display: flex;
        flex-direction: column;
        gap: 15px;

        h3 {
            color: var(--generalDark);
            text-align: center;
            font-family: var(--fontFamilyPrimary);
            font-size: 24px;
            font-style: normal;
            font-weight: 800;
            line-height: 38px;
        }

        h4 {
            color: var(--general-dark, var(--generalDark));
            text-align: center;
            font-family: var(--fontFamilyPrimary);
            font-size: 60px;
            font-weight: 700;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

        p {
            color: var(--generalDark);
            font-family: var(--fontFamilySecondary);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }

    }

    .button { 
        button {
            cursor: pointer;
            background: transparent;
            padding: 18px 34px;
            align-items: center;
            gap: 12px;
            display: flex;
            border-radius: 5px;
            border: 1px solid var(--generalDark);
            color: var(--generalDark);
            font-family: var(--fontFamilyPrimary);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }    
}

.vip {
    color: var(--generalRed);
    border-top: 4px solid var(--generalRed);
    
    .tittle {
        h3 {
            color: var(--generalRed);
        }

        h4 {
            color: var(--generalRed);
        }
    }

    .content {  
        p {
            color: var(--generalRed);
        }
    }

    .button {   
        button {
            color: var(--generalRed);
            border: 1px solid var(--generalRed);
        }
    }
}

.padrao {

    .button {
        
        button {
            color: var(--generalLight);
            background-color: var(--generalDark);
        }
    }
}

@media (max-width: 1452px) {
    .cardItem {
        width: 300px;
    }
}