.testimonials {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    min-height: 100vh;
    background-color: var(--additional3);
    justify-content: center;
    color: var(--generalLight);
    overflow: hidden;

    h3 {
        text-align: center;
        font: 700 34px/130% var(--fontFamilyPrimary);
    }

    .item {
        cursor: move;
        display: flex !important;
        flex-direction: column;
        align-items: center;

        .content {
            width: 770px;
            border-radius: 8px;
            padding: 1rem;
            background: var(--generalDark);

            p {
                text-align: center;
            }

            h4 {
                text-align: end;
            }
        }

        .profile {
            text-align: center;

            img {
                width: 120px;
                height: 120px;
            }

            h3 {
                font: 800 20px/28px var(--fontFamilyPrimary);
            }

            span {
                font: 400 16px/24px var(--fontFamilySecondary);
            }
        }
    }

    @media (max-width: 768px) {
        .item {
            .content {
                width: 90%;
            }
        }
    }
}