* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
}

#root {
    max-width: 1920px;
    width: 100%;
}

:root {
    --additional1: #fefefe;
    --additional2: #464646;
    --additional3: #5c5c5c;
    --generalLight: #f9f9f9;
    --generalDark: #222222;
    --generalRed: #f64348;

    --fontFamilyPrimary: 'Montserrat', sans-serif;
    --fontFamilySecondary: 'Raleway', sans-serif;
    --fontFamilyLogo: 'Poppins', sans-serif;
}