.home {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.17) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url("../../public/img/homeBackground.svg"), lightgray 50% / cover no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: start;

    .content {
        width: 970px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        h2 {
            color: var(--additional1);
            text-align: center;
            font: 700 72px/normal var(--fontFamilyPrimary);

            span {
                color: var(--generalRed);
            }
        }

        p {
            color: var(--additional1);
            text-align: center;
            font: 400 24px/38px var(--fontFamilySecondary);
        }

        .buttons {
            display: flex;
            gap: 40px;

            .btnComecar {
                cursor: pointer;
                border: none;
                font: 700 16px var(--fontFamilyPrimary);
                padding: 18px 34px;
                border-radius: 8px;
                background: var(--generalRed);
                color: var(--additional1);
            }

            .btnVideo {
                cursor: pointer;
                font: 800 20px/28px var(--fontFamilyPrimary);
                color: var(--additional1);
                border: none;
                background-color: transparent;
                display: flex;
                align-items: center;

                svg {
                    margin-right: 10px;
                }
            }
        }
    }

    #contador {
        text-align: center;
        font: 900 144px/normal var(--fontFamilyPrimary);
        color: transparent;
        opacity: 0.5;
        -webkit-text-stroke: 2px var(--additional1);
    }

    @media (max-width: 1140px) {
        .content {
            padding: 0 14.5%;
            width: auto;

            h2 {
                font-size: 60px;
            }

            p {
                font-size: 20px;
            }

            .buttons {
                gap: 10px;

                .btnComecar {
                    font-size: 12px;
                    padding: 10px 26px;
                }

                .btnVideo {
                    font-size: 12px;
                }
            }
        }

        #contador {
            font-size: 100px;
        }
    }

    @media (max-width: 768px) {
        padding: 1rem 5%;

        .content {
            padding: 0 5%;

            h2 {
                font-size: 50px;
            }
        }

        .contador {
            padding: 0 5%;

            #contador {
                font-size: 70px;
            }
        }
    }

    @media (max-width: 578px) {
        gap: 20px;

        .content {
            gap: 20px;

            h2 {
                font-size: 40px;
            }

            p {
                font-size: 15px;
                line-height: 1.5;
            }

            .buttons {
                gap: 10px;

                .btnComecar {
                    font-size: 10px;
                    padding: 5px 20px;
                }

                .btnVideo {
                    font-size: 10px;
                }
            }
        }
    }
}