.event {
    padding: 1rem 10%;
    // max-width: 1920px;
    min-height: 150vh;
    background: linear-gradient(188deg, #5a5962 0%, #5c5c5c 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;

    .tittle {
        width: 1170px;
        h3 {
            text-align: start;
            color: #F9F9F9;
            font-family: Montserrat;
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
        }
    }

    .day {
        display: flex;
        // flex-direction: column;
        align-items: flex-start;
        gap: 30px;

        button {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 370px;
            background-color: transparent;
            border: none;
            color: #F9F9F9;
            height: 82px;
            border-bottom: 4px solid #222;
            
            opacity: .5;
            color:#F9F9F9;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 800;
            line-height: 38px;
            transition: 400ms;
            
            span {
                color: #222;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 700;
                line-height: normal;
            }
        }

        button:hover {
            opacity: 1;
            color: #222;
        }
        
        .active {
            opacity: 1;
            color: #222;
        }
    }
}

@media (max-width: 768px) {
    .event {
        .day {
            flex-direction: column;

            button {

                width: 100%;
            }
        }
    }
}

@media (max-width: 1280px) {
    .event {

        .tittle {
            width: 100%;
        }

        .day {
            width: 100%;
        }
    }
}