.left {
    width: 44%;
    height: 662px;
    flex-shrink: 0;
    background-color: var(--generalDark);
    padding: 5rem;

    h3 {
        color: var(--additional1);
        font: 700 34px/130% var(--fontFamilyPrimary);
    }

    .details {
        margin-top: 5rem;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;

        p {
            color: var(--additional1);
            text-align: right;
            font: 700 16px var(--fontFamilyPrimary);
        }
    }
}