.gallery {
    background: linear-gradient(#625b5b, #464648), url("../../public/Icons/Instagram.svg");
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    max-width: 1920px;
    color: var(--generalLight);
    overflow: hidden;

    .titleTop {
        padding: 1rem 10%;

        h3 {
            font: 700 34px/130% var(--fontFamilyPrimary);
        }
    }

    .item {
        display: flex !important;
        align-items: center;
        flex-direction: column;
        gap: 24px;
        cursor: move;

        .content {
            gap: 24px;
            display: flex;
            flex-direction: column;
            width: 370px;

            .icons {
                display: flex;
                gap: 40px;

                .heartIcon, .chatIcon {
                    display: flex;
                    cursor: pointer;
                    gap: 8px;
                    align-items: center;

                    span {
                        font: 700 16px/normal var(--fontFamilyPrimary);
                    }
                }
            }

            h3, p {
                font: 400 16px/24px var(--fontFamilySecondary);
            }
        }
    }

    @media (max-width: 400px) {     
        .titleTop {
            h3 {
                font-size: 24px;
            }
        }

        .item {
            padding: 1rem 5%;

            img {
                width: 100%;
            }

            .content {
                width: 100%;
            }
        }
    }
}