.tickets {
    background-color: var(--additional3);
    display: flex;
    gap: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 10%;
    width: 100%;
    min-height: 100vh;

    .tittle h2 {
        color: var(--generalLight);
        text-align: center;
        font: 700 34px/130% var(--fontFamilyPrimary);
    }

    .cards {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 20px;
        gap: 26px;
        color: var(--generalRed);

        .vip {
            color: var(--generalRed);
            border-top: 4px solid var(--generalRed);

            .tittle h3,
            .tittle h4 {
                color: var(--generalRed);
            }

            .content p {
                color: var(--generalRed);
            }

            .button button {
                color: var(--generalRed);
                border: 1px solid var(--generalRed);
            }
        }

        .padrao .button button {
            color: var(--generalLight);
            background-color: var(--generalDark);
        }
    }

    @media (max-width: 768px) {
        padding: 1rem 5%;
    }
}