.tabela {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    width: 1170px;
    border: 1px solid var(--generalLight);

    .details {
        border-top-right-radius: 24px;
        border-top-left-radius: 24px;
        background-color: var(--additional3);
        display: flex;
        gap: 30px;
        padding: 40px;

        div {
            h3 {
                font: 700 24px var(--fontFamilySecondary);
            }

            &:nth-child(1) {
                width: 230px;
            }

            &:nth-child(2) {
                width: 370px;
            }
        }
    }

    .row {
        padding: 40px;
        gap: 30px;
        border-top: 1px solid var(--generalLight);
        display: flex;

        .time,
        .description {
            color: var(--generalLight);
            font: 400 16px/24px var(--fontFamilySecondary);
            width: 230px;
        }
        
        .description {
            font-weight: 700;
            width: 370px !important;
        }

        .artist {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            width: 250px;

            div {
                display: flex;
                gap: 10px;

                img {
                    width: 56px;
                    height: 56px;
                    border-radius: 50%;
                }

                div {
                    flex-direction: column;

                    h2 {
                        color: var(--generalLight);
                        font: 700 16px var(--fontFamilySecondary);
                    }

                    h3 {
                        opacity: .5;
                        color: var(--generalLight);
                        font: 400 16px/24px var(--fontFamilySecondary);

                        span {
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        div:nth-child(4) {
            width: 150px;
            display: flex;
            gap: 8px;
            justify-content: flex-end;
            align-items: center;
            color: var(--generalLight);
            font: 700 16px var(--fontFamilyPrimary);
        }

        .aovivo {
            color: var(--generalRed);
        }
    }

    @media (max-width: 480px) {
        .details {
            flex-direction: column;
        }
        
        .row {
            .description {
                width: 100% !important;
            }
        }
    }

    @media (max-width: 768px) {
        .details {
            justify-content: space-between;

            div:nth-child(1), div:nth-child(2) {
                width: auto;
            }
        }

        .row {
            padding: 10px;
            width: 100%;
            flex-direction: column;

            div:nth-child(1), div:nth-child(2), div:nth-child(3), div:nth-child(4) {
                width: 100%;
            }

            div:nth-child(4) {
                justify-content: flex-start;
            }
        }
    }

    @media (max-width: 1151px) {
        width: 100%;

        .details,
        .row {
            padding: 10px;
        }
    }

    @media (max-width: 1280px) {
        width: 100%;
    }
}